*{
	font-family:"Times New Roman", Times;
	font-size:100%;
}

#header
{
	width:99%;
	background-color:red;
	border: 1px solid black;
	height:40px;
	margin:2px;
	padding:5px;
	font-family:"Comic Sans MS";
	font-size:18pt;
}

#header #left
{
	float:left;
	width: 25%;
	text-align:left;	
	color:yellow;
	font-weight:bold;
}

#header #center1
{
	float:left;
	text-align:center;
	width:25%;
	color:yellow;
	font-weight:bold;
}
#header #center2
{
	float:left;
	text-align:center;
	width:25%;
	color:yellow;
	font-weight:bold;
}

#header #right
{
	float:left;
	width: 25%;
	text-align:right;
	color:yellow;
	font-weight:bold;
}

#logout, #logout:visited{
	font-size:15pt;
	color:maroon;
	text-decoration:none;
}
#logout:hover{
	color:white;
	text-decoration:underline;
}

#main
{
	width:100%;
	background-color:white;
	clear:both;
}

#navigation-container
{
	float:left;
	margin:4px;
}

.ui-menu 
{
	 width: 150px; 
}

#content
{
	float:left;
	width:100%;
	display:table-column;
}

#footer
{
	width:100%;
	clear:both;
	text-align:center;
}